# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
web/jquery.min.js
web/UnityObject2.js
web/web.html
web/web.unity3d
/Assets/common.cs.meta
/Assets/NPC.cs.meta
/Assets/Player.cs.meta
/Assets/Scripts.meta
/Assets/UIFace.shader.meta
